body{
  margin: 0px;
  padding: 0%;
  box-sizing: border-box;
}
.box{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 background-color:  black;
 /* border-left: 40px solid blue;
 border-right: 40px solid blue;
 border-radius: 40px; */
}

button{
  width: 400px;
    height: 150px;
    outline: none;
    /* background-color: blanchedalmond; */
    background-color: black;
    color: aqua;
    border-radius: 20px;
    font-weight: bolder;
    font-size: 50px;
    text-transform: capitalize;
    transition: all 0.3s;

}

h1{
  font-size: 100px;
  color: white;
  border-bottom: 4px solid white;
  border-top: 4px solid white;
  border-radius: 20px;
  
  transition: all 0.5s;
}
h1:hover{
  border-bottom: 4px solid blue;
  border-top: 4px solid blue;
  border-radius: 20px;
  color :blue;
 
}